
{% extends 'baseBack.html.twig' %}
{% block main %}


    <br><br>


<h2>Liste des commandes</h2>
    <br><br>

    <table class="table table-striped table-hover ">
        <thead>
        <tr>

            <th>Total</th>
            <th>Id User</th>
            <th>Adresse</th>
            <th>Ville</th>
            <th>Livreur</th>
            <th>Etat</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>

            {% for i in m %}
        <tr>

            <td>{{ i.total }}</td>
            <td>{{ i.idUser}}</td>
            <td>{{ i.adresse }}</td>
            <td>{{ i.ville }}</td>
            <td>{{ i.livreur }}</td>
            <td>{{ i.etat }}</td>

            <td> <a href="{{ absolute_url(asset('')) }}app_dev.php/Back/supprimerCommande/{{ i.idCommande }}" class="btn btn-danger" >Supprimer</a> </td>
            <td> <a href="{{ absolute_url(asset('')) }}app_dev.php/Back/modifierCommande/{{ i.idCommande }}" class="btn btn-warning" >Modifier</a> </td>

        </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}