
<link rel="stylesheet" href="{{ asset('templateback/assets/css/Pdf.css') }}">
<style >
    h3 {
        margin: 30px;
        color: #0c5460;}
    h2 { margin: 50px;
        color: #0E566C;

    }
    table {
  border-left: 6px solid red;
    background-color: lightgrey;


    }
    th{ font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
    }
    td {font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;}

</style>
SHOPETAL

<h2 >Liste des Produits Dans le stock</h2>
<br><br>
<br>
<dd><dd><table class="table table-striped table-hover " border="0.5">
    <thead>
    <tr>

        <th>Nom</th>
        <th>Prix</th>
        <th>Prix initial</th>
        <th>Quantite</th>

        <th>Categorie</th>
        <th>Type</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>

    {% for i in model %}
        <tr>
            <!-- for i in m -->

            <td>{{ i.nom }}</td>
            <td>{{ i.prix }}</td>
            <td>{{ i.prixInitial }}</td>
            <td>{{ i.quantite }}</td>

            <td>{{ i.categorie }}</td>
            <td>{{ i.type }}</td>






        </tr>
    {% endfor %}



    </tbody>
</table> </dd> </dd>
<br><br><br><br><br><br><br><br>
<dd><dd><dd><dd><dd><dd><dd><dd><dd><dd><dd><dd><h3> Responsable Gestion De Produit</h3> </dd></dd></dd></dd></dd></dd></dd></dd></dd></dd></dd></dd>
<dd><dd><dd><dd><dd><dd><dd><dd><dd><dd><dd><dd><dd><dd><dd><dd><dd><dd><dd><dd><dd><dd><dd><dd>           Akthem Arfaoui </dd></dd></dd></dd></dd></dd></dd></dd></dd></dd></dd></dd></dd></dd></dd></dd></dd></dd></dd></dd></dd></dd></dd></dd>